body {
    font-family: sans-serif;
    background-color: #ccc;
    margin-top: 0px;
}

#main_video_container {
    position: relative;
}

#main_video {
    display: block;
    position: absolute;
    top: -2px;
    left: 0px;
    z-index: 1;
}

#main_video_overlay {
    display: block;
    position: absolute;
    z-index: 2;
    top: -2px;
    left: 0px;
}

#breakdown {
    padding: 10px;
}

#breakdown div {
    margin-bottom: 3px;
}

#breakdown .total {
    width: 100%;
    display: inline-block;
    font-weight: bold;
    font-size: larger;
    text-align:center;
    margin-bottom: 10px;
}

#breakdown .emotion {
    width: 33%;
    display: inline-block;
    font-weight: bold;
}

#breakdown .count {
    width: 33%;
    display: inline-block;
    text-align: center;
}

#breakdown .score {
    width: 33%;
    display: inline-block;
    text-align:right;
}

#jumbo_container {
    position:relative;
    background-image: url("jumbo-bg.png");
    background-size: cover;
}

#jumbo {
    position:absolute;
    top: -2px;
    left: 0px;
}

#jumbo_score {
    position:absolute;
    top: -2px;
    left: 0px;
    z-index: 10;
    font-size: 100pt;
    text-align:center;
    vertical-align: middle;
    color:white;
    text-shadow: 2px 2px black;
    font-family: "Audiowide", serif;
    font-weight: 400;
    font-style: normal;
}

#signin label {
    display: inline-block;
    width: 100px;
}

#signin div {
    margin-bottom: 10px;
}

#signin input {
    width: 200px;
}

#signin h3 {
  margin-top: 0;
  font-size: medium;
  margin-bottom: 20px;
}

#signin button {
  width: 100px;
  margin-top: 10px;
  margin-left: 100px;
}

.editor label {
    display: inline-block;
    width: 180px;
}

.editor div input {
    width: 400px;
}

.editor div {
    margin-bottom: 10px;
}

.editor .emotions div {
    float:left;
    margin: 0px 0px 5px 10px;
    width: 250px;
}

.editor .emotions div label {
    display: inline-block;
    width: 165px !important;
    text-align: right;
    margin-right: 10px;
}

.editor .emotions div input {
    width: 50px !important;
}

.editor progress {
    display: inline-block;
    margin-left: 10px;
    width: 140px;
}

.editor input[type=file] {
    width: 250px !important;
}

#audience_message {
    width: 250px;
    font-size: small;
}

.editor .footer {
    clear:both;
}

.editor .footer button {
    width: 100px; 
    margin-top: 15px;
    margin-right: 10px;
}

.list {
    width: 100%;
    margin: 10px;
}

.list a {
    margin-right: 10px;
    cursor: pointer;
    text-decoration: underline;
}

.list td {
    padding: 5px;
}

.list th {
    text-align: left;
    padding: 5px;
}

.list-new-button {
    position: absolute;
    bottom: 20px;
    left: 15px;
}