<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vy</title>

    <script src="https://cdn.tailwindcss.com"></script>

    <script>
        tailwind.config = { theme: { extend: { fontFamily: { sans:
        ['Mako','Roboto','Arial','sans-serif'] } } } };
    </script>
    
    <script type="module">
        import { Auth } from '/js/rsauth.js';
        const auth = new Auth();
        auth.enableSignIn();
    </script>
</head>
<body class="bg-gray-100 dark:bg-gray-900 text-gray-900 dark:text-gray-100">
    <div class="flex justify-center items-center">
        <img src="/img/vy-logo.png" alt="Vy Logo" class="w-1/4 mt-4">
    </div>
    <div id="busy" class="flex justify-center items-center h-64">
        <svg class="animate-spin h-12 w-12 text-blue-600" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24">
            <circle class="opacity-25" cx="12" cy="12" r="10" stroke="currentColor" stroke-width="4"></circle>
            <path class="opacity-75" fill="currentColor" d="M4 12a8 8 0 018-8v4a4 4 0 00-4 4H4z"></path>
        </svg>
    </div>
</body>
</html>