<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>RoarScore</title>

    <script src="https://cdn.tailwindcss.com"></script>

    <script>
        tailwind.config = {
            theme: {
                extend: {
                    fontFamily: { sans: ['Mako','Roboto','Arial','sans-serif'] }
                }
            }
        };
    </script>

    <script type="module">
        import { Auth } from '/js/rsauth.js';
        const auth = new Auth();
        
        console.log(auth);

        auth.setReturnUrl();
        auth.addSignInForm(document.body);
    </script>
</head>
<body class="bg-gray-100 dark:bg-gray-900 text-gray-900 dark:text-gray-100">
    <div class="flex justify-center items-center">
        <img src="/img/RoarScoreLogo.png" alt="RoarScore Logo" class="w-1/4 mt-4">
    </div>
</body>
</html>